body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    background: radial-gradient(circle at center,#18423b, #0c1e23, #05100d);
    min-height: 100%;
    background-attachment: fixed;
}

.navbar{
    position: sticky;
    top: 0; /* must have position*/
    z-index: 1000;
    display: flex;
    padding: 0.7cm 10px;
    justify-content: space-between;
    background: radial-gradient(circle at top,#17433c, #112a30, #091b16);
    color: white;
    border: 1.5px solid aquamarine;
    border-radius: 10px;
    box-shadow: 0 0 12px -2px aquamarine; /*offsetx offsety blur spread color*/
    animation: slideIn 1s ease;
}
.navbar .profile-name{
    display: flex;
    gap:20px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.profile-image{
    width: 10%; 
    height: auto;
    padding-left: 20px;
}
.navbar_button{
    display: flex;
    gap: 60px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    
}

.navbar_button a{
    width:80px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: transform 0.25s ease-in-out, color 0.25s ease-in-out; /*define in here what properties will be change (transform, color) and state the time and curve*/
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.navbar_button a:hover{
    transform: scale(1.2);
    color: aquamarine;
}

#about-me{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    color: white;
}

#about-me .about-me-image{
    width: 400px;
    height: 350px;
    border-radius: 500px;
    animation: breatheIn 1.5s ease;
}

#about-me .about-me-text{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    animation: fadeIn 1.5s ease 1s forwards;
}


#about-me h1{
    font-size: 60px;
    text-shadow: 0 0 3px white; /*offsetx offsety blur color*/
    margin-bottom: 10px;
}

#roleicon{
    border-radius: 5px;
    margin: 0 0px -15px 5px;
    padding: 0px 5px 5px 5px;
    background-color: aquamarine;
    color: #0d1e22;
    width: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#role{
    width: 400px;
    border: 2px solid aquamarine;
    border-radius: 10px;
    background-color: #0d1e22;
    margin: 10px 0px;
    padding: 10px;
    font-family: monospace;
    font-size: 30px;
    font-weight: 900;
}

#projects{
    box-shadow: 0px 0px 5px 0px aquamarine;
    border-top: 1px solid aquamarine;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    background-color: #05100d;
    color: white;
}
.projects-content{
    position: relative;
    z-index: 2;
    pointer-events: none; /*ignore mouses, mouse passes through empty space to the bg square*/
    display: flex;
    flex-direction: column;
}

.projects-content *{
    pointer-events: none;
}
.projects-content > h1{
    font-size: 50px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.animatedbg{
    pointer-events: none; /*set whether elements can receive mouse interactions*/
    position: absolute;
    margin: 5px;
    inset: 0; /*set top left botom right = 0*/
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr)); /*repeat until container is filled, each column is 10px*/
    column-gap: 5px;
    row-gap: 5px;
    overflow: hidden;
}

.animatedbg .square{
    pointer-events: auto;
    position: relative;
    z-index: 0; /*z index must have position attributes*/
    width: 20px;
    aspect-ratio: 1/1;
    background-color: #05100d;
    border-radius: 1px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.animatedbg .square:hover{
    transform: scale(1.02);
    background-color: aquamarine;
}


.project-list {
    display: flex;
    justify-content: space-around;

}

.project-list > div{
    background-color: rgba(0, 35, 31, 0.625);
    width: 20%;
    border: 2px solid aquamarine;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px aquamarine;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-list > div img{
    width: 90%;
    border-radius: 10px;
}

.project-list > div button{
    pointer-events: all;
    background-color:#0d1e22;
    color: aquamarine;
    padding: 10px 30px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    transition: transform 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

.project-list > div button:hover{
    color:#0d1e22;
    background-color: aquamarine;
    transform: scale(1.2);
}

.project-list > div h1{
    font-size: 30px;
    text-align: center;
}

#experiences{
    background: radial-gradient(circle at center,#1a574d 0%, #0c2322 33%, #020708 100%);
    background-size: 200% 200%;
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    color: white;
    box-shadow: 0px 0px 5px 0px aquamarine;
    border-top: 1px solid aquamarine;
    animation: gradient 30s ease 0s infinite;
}

#experiences > h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.experiences-content{
    display: flex;
    justify-content: space-between;
}

.experiences-gallery{
    height: 50vh;
    border: 2px solid aquamarine;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px aquamarine;
    background-color: #091b16;
    width: 100%;
    margin: 0px 20px;
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    transition: opacity 1s ease;
}

.experiences-gallery img{
    margin: 10% 5%;
    box-sizing: border-box;
    width: 40%;
}

.experiences-gallery h1{
    font-size: 40px;
    font-weight: 400;
}

.experiences-text{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.arrow{
    margin: 0;
    height: 40px;
    width: 5%;
    pointer-events: all;
    background-color:#0d1e22;
    color: aquamarine;
    padding: 10px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    transition: transform 0.5s ease, color 0.5s ease, background-color 0.5s ease;
    text-align: center;
    align-self: center;
}

.arrow:hover{
    color:#0d1e22;
    background-color: aquamarine;
    transform: scale(1.2);
}


/*animations*/

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes slideIn{
    from{opacity: 0; transform: translateY(-50px)}
    to{opacity: 1; transform: translateY(0);}
}

@keyframes breatheIn{
    from{opacity: 0; transform: scale(0.6);}
    to{opacity: 1; transform: scale(1);}
}

@keyframes gradient {
    0%{background-position: 0% 0%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0% 0%;}
}